# md book build directory
book

# MacOS thing
**/.DS_Store

# Rust directories
**/*/target
kitchen/modules/*/Cargo.lock
kitchen/runtimes/*/Cargo.lock

# For javascript snippets burried in the code
**/node_modules
