# todos are scattered in these files
k.md
motivation.md
todo.md
**/deprecated
**/*/drafts/
**/*/*/drafts/

# local staging; need not be pushed
book

# need not push the executables
**/*/target
**/*/Cargo.lock