# todos are scattered in these files
k.md
v002.md
next.md
**/*/drafts/
**/*/*/drafts/

# local staging; need not be pushed
book

# need not push...
**/*/target
**/*/Cargo.lock
**/*/.DS_Store
**/.DS_Store
