name: Build Book

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - test-ci # always want to including test-ci for testing gh-action

jobs:
  build-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup mdBook
      uses: peaceiris/actions-mdbook@v1
      with:
        mdbook-version: 'latest'

    - name: Build Book
      run: mdbook build
